---
layout: page
title: "About"
description: "Hey, this is YC."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写代码，做做程序，为了学习^_^。</p></blockquote>

    <p>Hey，我是<strong>雨辰</strong>，业余程序猿 &amp; 老和山伯伯，<a href="http://zju.edu.cn/">浙江大学</a> · 2010级本科肄业；无工作经验,无任职经历,无...
    目前在技术学院学挖掘机 · 负责杜撰网站，<a href="http://www.weishuiyao.cn">欢迎戳我</a>。</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="http://www.weishuiyao.cn">待续，别着急</a></li>
    <li><a href="www.weishuiyao.cn">待续，总会有</a></li>
    </ul>


</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Baby Programmer. <br>
    Doctor of LaoHeShan college.</p></blockquote>

    <p>Hey, <strong>This is YuChen(雨辰)</strong>，you can call me nickname <strong>YC</strong>. I am a amateurish programmer. Whatever, I prefer to be called "Baby Programmer".
	After four years in ZheJiang university, I figured out two important things. First, what are you doing? Second, what will you do? Let me answer these two questions. Now I am 
	huning, in the future I think I will be a huner.
    <h5>Talks</h5>

    <ul>
    <li><a href="http://www.weishuiyao.cn">待续，别着急</a></li>
    <li><a href="www.weishuiyao.cn">待续，总会有</a></li>
    </ul>


</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
